

div.map-legends div.map-legend, div.map-legend {
	font-size: 14px !important;
	background-color: #464343 !important;
	border: 1px solid #464343;
}

.map-legends {
	border: 1px solid #464343;
}

.wax-legend ul.legend-labels li span {
display: block;
float: left;
height: 16px;
width: 30px;
margin-right: 5px;
margin-left: 0;
border: 1px solid #999;
}